{% extends "base.html" %}

{% block title %}Edit Equipo de Rescate{% endblock %}

{% block content %}

<body>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 1.7;
            color: #27a9c0;
            background-color: #1f2029;
        }
    </style>
    <div class="container mt-5">
        <h1><center>Edit Equipo de Rescate</center></h1>
        <form method="POST" action="{{ url_for('equipos_rescate.edit_equipos_rescate', idequiposrescate=equipos_rescate.idequiposrescate) }}">
            <div class="form-group">
                <label for="arnes">Arnés</label>
                <input type="text" name="arnes" id="arnes" class="form-control" value="{{ equipos_rescate.arnes }}" required>
            </div>
            <div class="form-group">
                <label for="eslingas">Eslingas</label>
                <input type="text" name="eslingas" id="eslingas" class="form-control" value="{{ equipos_rescate.eslingas }}" required>
            </div>
            <div class="form-group">
                <label for="posicionamiento">Posicionamiento</label>
                <input type="text" name="posicionamiento" id="posicionamiento" class="form-control" value="{{ equipos_rescate.posicionamiento }}" required>
            </div>
            <div class="form-group">
                <label for="caida_en_y">Caída en Y</label>
                <input type="text" name="caida_en_y" id="caida_en_y" class="form-control" value="{{ equipos_rescate.caida_en_y }}" required>
            </div>
            <div class="form-group">
                <label for="conectores">Conectores</label>
                <input type="text" name="conectores" id="conectores" class="form-control" value="{{ equipos_rescate.conectores }}" required>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad" id="cantidad" class="form-control" value="{{ equipos_rescate.cantidad }}" min="1" required>
            </div>
            <div class="form-group mt-2">
                <label for="estante_id">Estante ID</label>
                <select id="estante_id" name="estante_id" class="form-control" required>
                    <option value="" disabled selected>Selecciona un estante</option>
                    {% for estante in estantes %}
                    <option value="{{ estante.id_estante }}" {% if estante.id_estante == equipos_rescate.estante_id %}selected{% endif %}>
                        {{ estante.nombre }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button class="btn btn-secondary" onclick="window.history.back();">Back</button>
        </form>
    </div>
</body>
{% endblock %}
