{% extends "base.html" %}

{% block title %}Inventario{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-md-8 col-lg-6 text-center">
                <h1 class="mb-4">¡Bienvenido, {{ current_user.username }} al inventario de Ritelco!</h1>
                <h2 class="mb-4">Selecciona un Apartado:</h2>
                <div class="button-container">
                    <div class="btn-group-vertical w-100">
                        <a href="{{ url_for('planta.get_planta') }}" class="button mb-3">Planta</a>
                        <a href="{{ url_for('herramientas.get_herramientas') }}" class="button mb-3">Herramientas</a>
                        <a href="{{ url_for('spt.get_spt') }}" class="button mb-3">SPT</a>
                        <a href="{{ url_for('equipos.get_spt') }}" class="button mb-3">Equipos</a>
                        <a href="{{ url_for('electronica.get_electronica') }}" class="button mb-3">Electrónica</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        line-height: 1.7;
        color: #27a9c0;
        background-color: #1f2029;
    }

    .section {
        position: relative;
        width: 100%;
        display: block;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        display: inline-block;
        padding: 1em 2em;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        width: 100%;
        text-decoration: none;
    }

    .button:hover {
        background-color: #27a9c0;
        box-shadow: 0px 15px 20px rgba(60, 224, 230, 0.87);
        color: #fff;
        transform: translateY(-7px);
        text-decoration: none;
    }

    h1, h2 {
        color: #27a9c0;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        .button {
            font-size: 12px;
            padding: 0.8em 1.6em;
        }
    }
</style>
{% endblock %}