{% extends "base.html" %}

{% block title %}Herramientas inalambricas{% endblock %}

{% block content %}
<div class="section">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Herramientas inalambricas</h1>

        <div class="search-container mb-3">
            <input type="text" id="search-input" class="form-style" placeholder="Buscar..." onkeyup="searchTable()">
        </div>

        <div class="table-container">
            <div class="table-header">
                <div class="header-cell">Responsable</div>
                <div class="header-cell">Marca</div>
                <div class="header-cell">Modelo</div>
                <div class="header-cell">Estado</div>
                <div class="header-cell">Fecha de adquisicion</div>
                <div class="header-cell">Observaciones</div>
                <div class="header-cell">Estante ID</div>
                <div class="header-cell">Acciones</div>
            </div>
            <div class="table-body">
                {% for herramientas_inalambricas in data %}
                <div class="table-row">
                    <div class="table-cell">{{ herramientas_inalambricas.nombre }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.marca }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.modelo }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.descripcion_producto }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.fecha_adquisicion }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.observacion }}</div>
                    <div class="table-cell">{{ herramientas_inalambricas.estante_id }}</div>
                    <div class="table-cell">
                        <div class="btn-group">
                            <a href="{{ url_for('herramientas_inalambricas.edit_herramientas_inalambricas', idherramientasinalambricas=herramientas_inalambricas.idherramientasinalambricas) }}"
                                class="edit-button">Edit</a>
                            <form
                                action="{{ url_for('herramientas_inalambricas.delete_herramientas_inalambricas', idherramientasinalambricas=herramientas_inalambricas.idherramientasinalambricas) }}"
                                method="post" style="display:inline;">
                                <button type="submit" class="delete-button">
                                    <svg class="svgIcon" viewBox="0 0 448 512">
                                        <path
                                            d="M135.2 17.7L128 32H32C14 32 0 46.3 0 64c0 17.7 14.3 32 32 32H416c17.7 0 32-14.3 32-32 0-17.7-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32l21.2 339.2c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                                        </path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('herramientas.get_herramientas') }}" class="btn-back">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
                Back
            </a>
            <a href="{{ url_for('herramientas_inalambricas.add_herramientas_inalambricas') }}" class="btn-add"
                style="text-decoration: none;">Add Aceite</a>
        </div>
    </div>
</div>

<script>
    function searchTable() {
        var input, filter, tableBody, rows, cells, i, j, txtValue;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        tableBody = document.querySelector(".table-body");
        rows = tableBody.getElementsByClassName("table-row");

        for (i = 0; i < rows.length; i++) {
            cells = rows[i].getElementsByClassName("table-cell");
            let rowMatch = false;
            for (j = 0; j < cells.length - 1; j++) {
                txtValue = cells[j].textContent || cells[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    rowMatch = true;
                    break;
                }
            }
            if (rowMatch) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        line-height: 1.7;
        color: #27a9c0;
        background-color: #1f2029;
    }

    .table-container {
        background-color: #2a2b38;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .table-header {
        display: flex;
        background-color: #27a9c0;
        color: #1f2029;
        font-weight: bold;
        padding: 15px;
    }

    .header-cell {
        flex: 1;
        text-align: left;
    }

    .table-body {
        max-height: 400px;
        overflow-y: auto;
    }

    .table-row {
        display: flex;
        border-bottom: 1px solid #3a3b4a;
        transition: background-color 0.3s ease;
    }

    .table-row:hover {
        background-color: #34353f;
    }

    .table-cell {
        flex: 1;
        padding: 15px;
        text-align: left;
    }

    .search-container {
        margin-bottom: 20px;
    }

    .form-style {
        width: 100%;
        color: #27a9c0;
        background-color: #2a2b38;
        border: 2px solid #27a9c0;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    .form-style:focus {
        outline: none;
        border-color: #ffffff;
        box-shadow: 0 0 10px rgba(39, 169, 192, 0.5);
    }

    .form-style::placeholder {
        color: #27a9c0;
        opacity: 0.7;
    }

    .btn-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .delete-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
        cursor: pointer;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative;
    }

    .delete-button .svgIcon {
        width: 12px;
        transition: width 0.3s ease;
    }

    .delete-button .svgIcon path {
        fill: white;
    }

    .delete-button:hover {
        width: 100px;
        border-radius: 50px;
        background-color: rgb(255, 69, 69);
    }

    .delete-button:hover .svgIcon {
        width: 50px;
        transform: translateY(60%);
    }

    .delete-button::before {
        position: absolute;
        top: -20px;
        content: "Delete";
        color: white;
        font-size: 2px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .delete-button:hover::before {
        font-size: 13px;
        opacity: 1;
        transform: translateY(30px);
    }

    .edit-button {
        width: 80px;
        height: 40px;
        border-radius: 10px;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
        cursor: pointer;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative;
        color: #27a9c0;
        text-decoration: none;
    }

    .edit-button:hover {
        background-color: #27a9c0;
        color: #1f2029;
        text-decoration: none;
    }

    .btn-add {
        --color: #27a9c0;
        font-family: inherit;
        display: inline-block;
        width: 9em;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color 0.5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        text-align: center;
        text-decoration: none;
    }

    .btn-add:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    .btn-add:hover {
        color: #ffffff;
    }

    .btn-add:before {
        top: 100%;
        left: 100%;
        transition: all 0.7s;
    }

    .btn-add:hover:before {
        top: -30px;
        left: -30px;
    }

    .btn-add:active:before {
        background: #27a9c0;
        transition: background 0s;
    }
    .btn-back {
        --color: #27a9c0;
        font-family: inherit;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 6em;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color 0.5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        background-color: transparent;
        text-decoration: none;
    }

    .btn-back:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
        top: 100%;
        left: 100%;
        transition: all 0.7s;
    }

    .btn-back:hover {
        color: #ffffff;
    }

    .btn-back:hover:before {
        top: -30px;
        left: -30px;
    }

    .btn-back:active:before {
        background: #27a9c0;
        transition: background 0s;
    }

    .btn-back svg {
        margin-right: 8px;
    }
</style>
{% endblock %}