{% extends "base.html" %}

{% block title %}Edit Electronica{% endblock %}

{% block content %}

<body>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 1.7;
            color: #27a9c0;
            background-color: #1f2029;
        }
    </style>
    <div class="container mt-5">
        <h1><center>Edit Electronica</center></h1>
        <form method="POST"
            action="{{ url_for('electronica.edit_electronica', idelectronica=electronica.idelectronica) }}">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" value="{{ electronica.nombre }}"
                    required>
            </div>
            <div class="form-group">
                <label for="descripcion_producto">Descripción del Producto</label>
                <input type="text" name="descripcion_producto" id="descripcion_producto" class="form-control"
                    value="{{ electronica.descripcion_producto }}" required>
            </div>
            <div class="form-group mt-2">
                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad" id="cantidad" class="form-control" value="1" min="1" required>
            </div>
            <div class="form-group">
                <label for="estante_id">Estante ID</label>
                <select id="estante_id" name="estante_id" required>
                    <option value="" disabled selected>Selecciona un estante</option>
                    {% for estante in estantes %}
                    <option value="{{ estante.id_estante }}" {% if estante.id_estante==estante.estante_id %}selected{%
                        endif %}>{{ estante.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button class="btn btn-secondary" onclick="window.history.back();">Back</button>
        </form>
    </div>
</body>
{% endblock %}