{% extends "base.html" %}

{% block title %}Edit Herramienta electrica{% endblock %}

{% block content %}

<body>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 1.7;
            color: #27a9c0;
            background-color: #1f2029;
        }

        /* Estilo personalizado para los inputs */
        .inputbox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .inputbox input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            color: #ffffff;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
        }

        .inputbox span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            color: #8f8f8f;
            letter-spacing: 0.05em;
            transition: 0.5s;
            pointer-events: none;
        }

        .inputbox input:valid~span,
        .inputbox input:focus~span {
            color: #27a9c0;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0.75em;
        }

        .inputbox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #27a9c0;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }

        .inputbox input:valid~i,
        .inputbox input:focus~i {
            height: 44px;
        }

        .btn-add, .btn-back {
            --color: #27a9c0;
            font-family: inherit;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 8em;
            height: 2.6em;
            line-height: 2.5em;
            margin: 20px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border: 2px solid var(--color);
            transition: color 0.5s;
            z-index: 1;
            font-size: 17px;
            border-radius: 6px;
            font-weight: 500;
            color: var(--color);
            background-color: transparent;
            text-decoration: none;
        }

        .btn-add:before, .btn-back:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: var(--color);
            height: 150px;
            width: 200px;
            border-radius: 50%;
            top: 100%;
            left: 100%;
            transition: all 0.7s;
        }

        .btn-add:hover, .btn-back:hover {
            color: #ffffff;
        }

        .btn-add:hover:before, .btn-back:hover:before {
            top: -30px;
            left: -30px;
        }

        .btn-add:active:before, .btn-back:active:before {
            background: #27a9c0;
            transition: background 0s;
        }

        .btn-back svg {
            margin-right: 8px;
        }
    </style>

    <div class="container mt-5">
        <h1>
            <center>Edit Herramienta electrica</center>
        </h1>
        <form method="POST"
            action="{{ url_for('herramientas_electricas.edit_herramientas_electricas', idherramientaselectricas=herramientas_electricas.idherramientaselectricas) }}">
            <div class="inputbox">
                <input type="text" name="nombre" id="nombre" value="{{ herramientas_electricas.nombre }}" required>
                <span>Responsable</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="marca" id="marca" value="{{ herramientas_electricas.marca }}" required>
                <span>Marca</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="modelo" id="modelo" value="{{ herramientas_electricas.modelo }}" required>
                <span>Modelo</span>
                <i></i>
            </div>
            <div class="inputbox1">
                <span>Fecha de adquisición</span>
                <input type="date" name="fecha_adquisicion" id="fecha_adquisicion" required>
            </div>
            <div class="inputbox">
                <input type="text" name="descripcion_producto" id="descripcion_producto"
                    value="{{ herramientas_electricas.descripcion_producto }}" required>
                <span>Estado</span>
                <i></i>
            </div>
            <div class="form-group mt-2">
                <label for="observacion">Observaciones</label>
                <input type="text" name="observacion" id="observacion" class="form-control"
                    value="{{ herramientas_electricas.observacion }}">
            </div>
            <div class="form-group">
                <label for="estante_id">Estante ID</label>
                <select id="estante_id" name="estante_id" required class="form-control">
                    <option value="" disabled>Selecciona un estante</option>
                    {% for estante in estantes %}
                    <option value="{{ estante.id_estante }}" {% if
                        estante.id_estante==herramientas_electricas.estante_id %}selected{% endif %}>{{ estante.nombre
                        }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a  class="btn-back"onclick="window.history.back();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    Back
                </a>
                <button type="submit" class="btn-add">Update</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}