{% extends "base.html" %}

{% block title %}Planta{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h2>Selecciona un estante:</h2>
                    <div class="button-container">
                        <div class="btn-group-vertical">
                            <a href="{{ url_for('aceites.get_aceites') }}" class="button">Estante de Aceites</a>
                            <a href="{{ url_for('filtros.get_filtros') }}" class="button">Estante de Filtros</a>
                            <a href="{{ url_for('respel.get_respel') }}" class="button">Estante de Refrigerante</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        line-height: 1.7;
        color: #27a9c0;
        background-color: #1f2029;
    }

    .section {
        position: relative;
        width: 100%;
        display: block;
    }

    .full-height {
        min-height: 100vh;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .btn-group-vertical {
        display: flex;
        flex-direction: column;
    }

    .button {
        display: inline-block;
        padding: 1.3em 3em;
        margin: 0.5em 0;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        width: 100%;
        max-width: 300px;
        text-decoration: none;
        /* Para asegurar que el texto no se subraye */
    }

    .button:hover {
        background-color: #27a9c0;
        box-shadow: 0px 15px 20px rgba(60, 224, 230, 0.87);
        color: #fff;
        transform: translateY(-7px);
        text-decoration: none;
        /* Para asegurar que el texto no se subraye */
    }

    h1,
    h2 {
        color: #27a9c0;
    }
</style>
{% endblock %}