{% extends "base.html" %}

{% block title %}Edit Equipo de alturas{% endblock %}

{% block content %}

<body>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 1.7;
            color: #27a9c0;
            background-color: #1f2029;
        }

        /* Estilo personalizado para los inputs */
        .inputbox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .inputbox input, .inputbox select, .inputbox textarea {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            color: #ffffff;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
        }

        .inputbox textarea {
            min-height: 100px;
            resize: vertical;
        }

        .inputbox span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            color: #8f8f8f;
            letter-spacing: 0.05em;
            transition: 0.5s;
            pointer-events: none;
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span,
        .inputbox textarea:valid ~ span,
        .inputbox textarea:focus ~ span,
        .inputbox select:focus ~ span {
            color: #27a9c0;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0.75em;
        }

        .inputbox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #27a9c0;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }

        .inputbox input:valid ~ i,
        .inputbox input:focus ~ i,
        .inputbox textarea:valid ~ i,
        .inputbox textarea:focus ~ i,
        .inputbox select:focus ~ i {
            height: 44px;
        }

        /* Estilo para los botones */
        .btn-primary {
            background-color: #27a9c0;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: white;
        }

        .btn-primary:hover {
            background-color: lightblue;
        }

        .btn-secondary {
            background-color: #444;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: white;
        }

        .btn-secondary:hover {
            background-color: #666;
        }
    </style>

    <div class="section">
        <div class="container mt-5">
            <h1><center>Edit Equipo de alturas</center></h1>
            <form method="POST" action="{{ url_for('equipos_alturas.edit_equipos_alturas', idequiposaltura=equipos_alturas.idequiposaltura) }}">
                <div class="inputbox">
                    <input type="text" name="arnes" id="arnes" value="{{ equipos_alturas.arnes }}" required>
                    <span>Arnés</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="eslingas" id="eslingas" value="{{ equipos_alturas.eslingas }}" required>
                    <span>Eslingas</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="posicionamiento" id="posicionamiento" value="{{ equipos_alturas.posicionamiento }}" required>
                    <span>Posicionamiento</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="caida_en_y" id="caida_en_y" value="{{ equipos_alturas.caida_en_y }}" required>
                    <span>Caída en Y</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="conectores" id="conectores" value="{{ equipos_alturas.conectores }}" required>
                    <span>Conectores</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="number" name="cantidad" id="cantidad" value="{{ equipos_alturas.cantidad }}" min="1" required>
                    <span>Cantidad</span>
                    <i></i>
                </div>
                <div class="form-group mt-2">
                    <label for="estante_id">Estante</label>
                    <select id="estante_id" name="estante_id" required class="form-control">
                        <option value="" disabled>Selecciona un estante</option>
                        {% for estante in estantes %}
                        <option value="{{ estante.id_estante }}" {% if estante.id_estante == equipos_alturas.estante_id %}selected{% endif %}>{{ estante.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Actualizar</button>
                <a href="{{ url_for('equipos_alturas.get_equipos_alturas') }}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</body>

{% endblock %}
